tenancy_ocid                        = "..."
compartment_id                      = "..."
availability_domain                 = 1
display_name                        = "instance"
is_pv_encryption_in_transit_enabled = true
shape                               = "VM.Standard.E5.Flex"
shape_config = {
  ocpus         = 1
  memory_in_gbs = 1
}
agent_config = {
  plugins_config = ["Bastion", "Block Volume Management"]
}
ssh_public_keys = "ssh-rsa ..."
create_vnic_details = {
  assign_public_ip = true
  subnet_id        = "..."
}
source_details = {
  source_id = "..."
}
cloud_init = {
  f1 = {
    filename = "./userdata/openvpn.tftpl"
    vars = {
      protocol = "udp"
      port     = 1194
    }
  }
  f2 = {
    filename = "./userdata/cloud-init.tftpl"
  }
  f3 = {
    filename = "./userdata/lvm.yaml"
  }
}
