while true; do
    STATE=$(oci bv volume-group-replica get --volume-group-replica-id ${volume_group_replica_id} --region ${volume_group_replica_region} | jq -r '.data."lifecycle-state"')
    if [ "$STATE" != "AVAILABLE" ]; then
	echo "Still creating... [60s sleep]"
	sleep 60
    else
	echo "${volume_group_replica_id} provisioned in region ${volume_group_replica_region}..."
	break
    fi
done
